@model System.Exception

@{
    ViewData["Title"] = "Error";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
</head>

<body class="m-3" style="height: 100vh; width: 100vw; background-color: #bdc7cb;">
    <h2>An error occurred !! Please try again later.</h2>
    <h3 class="text-danger">@Model?.Message</h3>
    <h4 class="text-secondary">If the problem persists, please contact support.</h4>
    <h5 class="text-secondary">Error Details: @Model?.StackTrace</h5>
    <div>Back To <a asp-controller="Auth" asp-action="Login" class="text-dark">Login</a> </div>
</body>

</html>